.root {
    -fx-font-family: sans-serif;
    // -fx-background-image: url("");
    -fx-background-size: 450 300;
    -fx-focus-color: transparent;
}

.button {
    -fx-background-image: url('../images/button1.jpg');
    -fx-text-align: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-text-fill: rgb(255,255,255);
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-text-fill: rgb(235,134,52);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

#gameplayLabel, #displayLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-align: center;
}

.label {
    -fx-text-fill: rgb(50,40,40);
}